/* Aciklama Satiri

Istenildigi kadar uzatilabilir.
Aciklama satirlari kapatilmaz ise , tüm satirlar aciklamaya dahil edilebilir.
*/
body{background-color: black;
color:white;
font-family: 'Odibee Sans', cursive;
}

h2{
    color:rgb(110, 161, 34);
     font-size:15px;
      text-decoration: underline;
      text-transform: uppercase;
}
p{
    color:darkolivegreen;
}
ul{
    color:coral ;
}
.fs-20{
    color:red;
}
.text-blue{
    color:blue;

}
#first-article{
    font: size 40px;
}